{{#each comments as |comment|}}
<div class="card" style="width: 18rem;">
    <div class="card-header">
        {{comment.creator}} - {{comment.date}}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{comment.content}}</li>
    </ul>
</div>
{{/each}}