.navbar-brand {
    font-size: 4rem;
}

.navbar li a {
    font-size: 3rem;
}

.mainSection, body {
    background-color: grey;
}

#loginForm a {
    text-decoration: none;
}

.textHeader {
    color: white;
}